@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    background-color: rgb(245, 245, 245);
}
.closeX{
    transition: 1s;
    opacity: 0;
    display: none;
}
.null{
    padding: 5px;
}
.tooltip {
    position: absolute;
    z-index: 999; 
    background-color: #f8f8f8;  
    border: 1px solid #ccc;  
    padding: 10px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4); 
}
body {
  color: white; 
  background-image: linear-gradient(to top, rgba(32, 6, 44, 0.945), rgba(4, 2, 17, 0.952));
}

@media (prefers-color-scheme: dark) {
  body {
    color: white; 
    background-color: #333333;
  }
  strong {
    color: #f0f0f0; 
  }
  h1 {
    color: #f0f0f0; 
  }

  p {
    color: #ecf0f1; 
  }
  header {
    color: white;
  }
  #nigthol {
    color: yellow;
  }

  #webProfile {
    color: white;
  }
}
